.chat-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    position: absolute;
    width: calc(100vw - 150px);
    right: -150px;
    padding-right: 150px;
}

.chat-container {
    margin: 10px 0px;
    height: 60px;
}

.chat-container:first-of-type {
    margin-top: 20px;
}

.chat-container:last-of-type {
    margin-bottom: 20px;
}

.chat-card {
    height: 100%;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

.chat-card-inner-container {
    height: 28px;
    display: flex;
    align-items: center;
}