<div class="chat-wrapper">
    <div class="chat-container" *ngFor="let chat of chats">
        <mat-card matRipple class="chat-card" [ngStyle]="{'border-color': chat.hasUnreadMessages ? '#2885FF' : 'transparent'}" (click)="onChatCardClick(chat)">
            <div class="chat-card-inner-container">
                <mat-icon class="account-icon">account_circle</mat-icon>
                <h3 class="chat-name">{{chat.name}}</h3>
                <span matBadge="*" matBadgeOverlap="false" [ngStyle]="{'display': chat.hasUnreadMessages ? 'block' : 'none'}"></span>
            </div>
        </mat-card>
    </div>
</div>