.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text-container p {
    font-size: medium;
    text-align: center;
}

.text-container {
    margin-bottom: 30px;
}