.editor-form {
    display: flex;
    flex-direction: column;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}