.chat-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100vh - 1.25em - 140px);
    background-color: #161719;
    padding: 2rem;
}

.message-container {
    display: flex;
    flex-direction: row;
    align-items: unset;
}

.message {
    max-width: 80%;
    width: fit-content;
    margin-top: 10px;
    justify-self: right;
    overflow-wrap: anywhere;
    box-shadow: 0px 5px 14px 1px rgba(0,0,0,0.44);
}

.message-input {
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    background-color: #252628;
}

.mat-form-field-appearance-legacy .mat-form-field-label{
    color: #fff;
}