<section>
    <div class="pt-30">
    <h1>GOAL name</h1>
    <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
    <div class="button-container">
        <div>
            <p class="goal-desc">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.""Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et</p>
        </div>
        <div class="btn-group">
            <button class="btn" mat-raised-button color="accent">Complete goal</button>
            <button class="btn" mat-raised-button color="warn">Delete goal</button>
        </div>
    </div>
    </div>
</section>