/* You can add global styles to this file, and also import other style files */


/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    border-radius: 0px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #7B1FA2;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #7B1FA2;
}

.mat-progress-bar-fill::after{
    background: linear-gradient(90deg,#ffd33d,#ea4aaa 17%,#b34bff 34%,#01feff 51%,#ffd33d 68%,#ea4aaa 85%,#b34bff);
    background-size: 300% 100%;
    animation: progress-animation 2s linear infinite!important;
}

@keyframes progress-animation{
    0%{
        background-position: 100%;
    }
    100%{
        background-position: 0;
    }
}