<div class="table-container">

    <mat-table matSort [dataSource]="users" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.telegramId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Role </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{getUserRoleName(user.role)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let user">
                <app-action-buttons (onEdit)="editUser(user)" (onDelete)="deleteUser(user)"></app-action-buttons>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="add-user">
            <mat-header-cell mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">
                <mat-icon>
                    add_circle_outline
                </mat-icon>
                &nbsp;Add User
            </mat-header-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
        <mat-header-row matRipple *matHeaderRowDef="['add-user'] sticky: true" (click)="addUser()"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="users?.length || 0" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of GitHub search results">
    </mat-paginator>
</div>