<app-loader color="primary" (loaded)="onLoaded()" (loadedingStarted)="onLoadingStarted()"></app-loader>
<mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer color="accent" #drawer class="example-sidenav" mode="side">
        <app-nav-menu></app-nav-menu>
    </mat-drawer>

    <div class="wrapper">
        <div id="container">
            <ng-content></ng-content>
        </div>
    </div>

</mat-drawer-container>