.pt-30 {
    padding-top: 30px;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.goal-desc {
    padding: 30px;
}

.btn {
    margin-top: 30px;
    margin-right: 20px;
    height: 50px;
}